<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" style="max-width: 970px; margin:0 auto;">

<h2>National data</h2>
<p>
    <strong>Population:</strong>
    <&nbsp;7.3 million<br>
        <strong>Labor force:</strong>&nbsp;3.9 million
        <br>
        <strong>Unemployment rate:</strong>&nbsp;3.4%
        <br>
        <strong>GDP per capita (PPS):</strong>&nbsp;311,595 Hong Kong Dollar</p>
<p>
    <strong>Domestic market value of the fashion industry: </strong> 252 billion Hong Kong dollars
    <br>
    <strong>Total labor force in fashion:</strong> 64 000</p>
<p>&nbsp;</p>




<div class="accordion vertical">
    <ul>
        <li>
            <input type="checkbox" id="checkbox-hk1" name="checkbox-accordion" />
            <label for="checkbox-hk1">Employment</label>
            <div class="content">


<p>The total labor force in fashion can be divided in employment in retail sale and manufacturing. </p>
                <p>
                    <strong>Employment in retail sale:</strong> 53 000
                    <br>
                    <strong>Employment in manufacturing:</strong> 11 000</p>
                <p>
                    Number of people employed in manufacture of textiles: 4 000
                    <br> Number of people employed in manufacture of wearing apparel: 6 500
                    <Br> Number of people employed in manufacture of leather: 500</p>

            </div>
        </li>
        <li>
            <input type="checkbox" id="checkbox-hk2" name="checkbox-accordion" />
            <label for="checkbox-hk2">Fashion Companies</label>
            <div class="content"><p>
                    The following table shows the Top 5 largest fashion companies in Hong Kong</p>
                    <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Company Name</th>
                                <th>Market Value</th>
                                <th>Annual Revenue</th>
                                <th>Company Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Prada SpA</td>
                                <td>66 billion HKD</td>
                                <td>31.5 billion HKD</td>
                                <td>Stock listed company</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Belle International Holdings Limited</td>
                                <td>40.9 billion HKD</td>
                                <td>23.2 billion HKD</td>
                                <td>Stock listed company</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Chow Tai Fook Jewellery Group Ltd.</td>
                                <td>16.7 billion HKD</td>
                                <td>64.3 billion HKD</td>
                                <td>Stock listed company</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Esprit Holdings Ltd.</td>
                                <td>13.6 billion HKD</td>
                                <td>19.4 billion HKD</td>
                                <td>Stock listed company</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Li Ning Company Limited</td>
                                <td>5 billion HKD</td>
                                <td>8.5 billion HKD</td>
                                <td>Stock listed company</td>
                            </tr>
                        </tbody>
                    </table>

            </div>
        </li>
        <li>
            <input type="checkbox" id="checkbox-hk3" name="checkbox-accordion" />
            <label for="checkbox-hk3">Consumer expenditure (2014)</label>
            <div class="content"><img src="https://static.fashionunited.com/landing-pages/fu/statistics/hk-consumer_expenditure_hong-kong.jpg" class="img-responsive">
                <p>Annual expenditure on clothing and footwear: 251.75 billion Hong Kong dollars</p>
            </div>
        </li>
        <li>
            <input type="checkbox" id="checkbox-hk4" name="checkbox-accordion" />
            <label for="checkbox-hk4">Imports and Exports</label>
            <div class="content"><div style="margin:0 auto;" class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <p><strong>Total export of textiles, apparel and footwear: 63 billion Hong Kong dollars</strong></p>
                        <p>
                            Export of textiles and apparel: 53.7 billion Hong Kong dollars
                            <br> The following products are Hong Kong’s most exported textiles and apparel goods and their accompanying export value.
                            <br> Knit or crochet fabric: 11 billion Hong Kong dollars
                            <br> Sweaters, pullovers, sweatshirts, etc: 3 billion Hong Kong dollars
                            <br> Women’s suits, non knit: 2.5 billion Hong Kong dollars
                            <br> Woven fabrics of less than 85 percent cotton: 2 billion Hong Kong dollars
                            <br> Labels, badges and similar textile articles: 2 billion Hong Kong dollars
                        </p>
                        <img src="https://static.fashionunited.com/landing-pages/fu/statistics/hk-export-2014-textile.png" class="img-responsive">
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <p><strong>Export of footwear and headwear: 9.4 billion Hong Kong dollars</strong></p>
                        <p>
                            Hong Kong’s most exported goods among footwear and headwear are listed below with their accompanying export value.
                            <br> Footwear, with leather body: 3 billion Hong Kong dollars
                            <br> Other footwear of rubber or plastics: 2.25 billion Hong Kong dollars
                            <br> Parts of footwear: 1.4 billion Hong Kong dollars
                            <br> Footwear, with textile body: 1.2 billion Hong Kong dollars
                        </p>
                        <img src="https://static.fashionunited.com/landing-pages/fu/statistics/hk-export-2014-footwear.png" class="img-responsive">
                    </div>
                </div>
                <p>&nbsp;</p>
               <div style="margin:0 auto;" class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <p><strong>
Total import of textiles, apparel and footwear: 214 billion Hong Kong dollars</strong></p>
                        <p>
                            Import of textiles and apparel: 176.8 billion Hong Kong dollars
                            <br> The following products are Hong Kong’s most imported textiles and apparel goods and their accompanying import value.
                            <br> Sweaters, pullovers, sweatshirts, etc: 26 billion Hong Kong dollars
                            <br> Women’s suits, not knit: 17 billion Hong Kong dollars
                            <br> Knit of crochet fabric: 15 billion Hong Kong dollars
                            <br> Men’s suits, non kit: 9.6 billion Hong Kong dollars
                            <br> T-shirts: 8 billion Hong Kong dollars</p>
                        <img src="https://static.fashionunited.com/landing-pages/fu/statistics/hk-import-2014-textile.png" class="img-responsive">
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <p><strong>Import of footwear and headwear: 37.3 billion Hong Kong dollars</strong></p>
                        <p>
                            The following products are Hong Kong’s most imported footwear and headwear goods and their import value.
                            <br> Footwear, with leather body: 22.5 billion Hong Kong dollars
                            <br> Other footwear of rubber of plastics: 4.5 billion Hong Kong dollars
                            <br> Footwear, with textile body: 4 billion Hong Kong dollars
                            <br> Parts of footwear: 2 billion Hong Kong dollars
                        </p>
                        <img src="https://static.fashionunited.com/landing-pages/fu/statistics/hk-import-2014-footwear.png" class="img-responsive">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>










<p>
    &nbsp;</p>
<p>
    &nbsp;</p>

</div>
<div class="center" id="statistics-footer">
    <p>These statistic pages are a product of FashionUnited Business Intelligence. For more fashion data, company information and statistics, please refer to the <u><a href="http://fashionunited.com/i">FashionUnited BI homepage</a></u>.
    </p>
    <p>
 Sources: CIA, ILO, WTO, IBISWorld, OECD, Comtrade (UN), <a href="http://www.censtatd.gov.hk/home/index.jsp" target="_blank" rel="noopener">Census and Statistics Department</a>
    </p>
    <p>Copyright 2016 by FashionUnited. You must obtain written permission to use any FashionUnited content.</p>
</div>
