


<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" style="max-width: 970px; margin:0 auto;">
    <div class="mdl-tabs__tab-bar">
        <a href="#ie" class="mdl-tabs__tab is-active">Ireland</a>
        <a href="#eu" class="mdl-tabs__tab">European Union</a>
    </div>
    <div class="mdl-tabs__panel is-active" id="ie">
        <h2>National data</h2>
        <div style="margin:0 auto;" class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <p>
                    <strong>Population:</strong> 4.6 million
                    <br>
                    <strong>Labor force:</strong> 2.2 million
                    <br>
                    <strong>Unemployment rate:</strong> 13.1%
                    <br>
                    <strong>GDP per capita (PPS):</strong> 47,024 Euro
                </p>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <p>
                    <strong>Domestic market value of the fashion industry:</strong> 3 billion euros
                    <br>
                    <strong>Labor force in fashion:</strong> 38,000
                </p>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="accordion vertical">
            <ul>
                <li>
                    <input type="checkbox" id="checkbox-ie1" name="checkbox-accordion" />
                    <label for="checkbox-ie1">Employment</label>
                    <div class="content">
                        <h2>Employment (source: CSO)</h2>
                        <p>
                            The total labor force in fashion can be divided in employment in retail sale and manufacturing.
                        </p>
                        <p><strong>
Employment in the retail sale of fashion: 28,000</strong></p>
                        <ul>
                            <li>
                                Number of employees in the retail sale of clothing: 23,500</li>
                            <li>
                                Number of employees in the retail sale of textiles: 1,000</li>
                            <li>
                                Number of employees in the retail sale of footwear and leather goods: 3,500</li>
                        </ul>
                        <p>
                            <strong>
Employment in the manufacture of fashion: 10,000</strong></p>
                        <ul>
                            <li>
                                Number of employees in the manufacture of textiles: 5,000</li>
                            <li>
                                Number of employees in the manufacture of clothing: 4,000</li>
                            <li>
                                Number of employees in tanning and dressing of leather, manufacture of luggage and handbags: 1,000</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-ie2" name="checkbox-accordion" />
                    <label for="checkbox-ie2">Fashion Companies</label>
                    <div class="content">
                        <p>
                            Ireland is only home to one large fashion conglomerate, which is fast-fashion giant Primark. Primark is a part of the Association of British Foods (ABF) and is individually valued at 18.4 billion euros. Primark had an annual revenue of 6.55 billion euros last year.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-ie3" name="checkbox-accordion" />
                    <label for="checkbox-ie3">Consumer Expenditure</label>
                    <div class="content">
                        <img src="https://static.fashionunited.com/landing-pages/fu/statistics/ie-consumer_expenditure_ireland.jpg" class="img-responsive">
                        <p>Annual expenditure on clothing: 2.5 billion euros
                            <br> Annual expenditure on footwear: 536 million euros</p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-ie4" name="checkbox-accordion" />
                    <label for="checkbox-ie4">Imports &amp; Exports (2014)</label>
                    <div class="content">
                        <div style="margin:0 auto;" class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col">
                                <h3>
Total export of textiles, apparel and footwear: 1.2 billion euros</h3>
                                <p>
                                    Export of textiles and apparel: 1.1 billion euros
                                    <br> Ireland mostly exports apparel, even so it’s largest export product among this product group are synthetic staple fibers. The following products are Ireland’s most exported textiles and apparel goods and their export values.
                                    <br> Synthetic staple fibers: 160 million euros
                                    <br> Sweaters, pullovers, sweatshirts, etc: 99 million euros
                                    <br> Women’s suits, non knit: 89 million euros
                                    <br> T-shirts: 85 million euros
                                    <br> Women’s undergarments: 54 million euros
                                </p>
                                <img src="https://static.fashionunited.com/landing-pages/fu/statistics/ie-export-2014-textile.png" class="img-responsive">
                            </div>
                            <div class="mdl-cell mdl-cell--6-col">
                                <h3>Exports of footwear and headwear: 120.5 million euros</h3>
                                <p>
                                    The following products are Ireland’s most exported footwear and headwear goods and their accompanying export value.
                                    <br> Other footwear of rubber and plastics: 34 million euros
                                    <br> Footwear, with leather body: 30.5 million euros
                                    <br> Footwear, with textile body: 27 million euros
                                    <br> Other headgear: 9 million euros
                                    <br> Other footwear: 7 million euros</p>
                                <img src="https://static.fashionunited.com/landing-pages/fu/statistics/ie-export-2014-footwear.png" class="img-responsive">
                            </div>
                        </div>
                        <p>&nbsp;</p>
                        <div style="margin:0 auto;" class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col">
                                <h3>
Total import of textiles, apparel and footwear: 2.6 billion euros</h3>
                                <p>
                                    Import of textiles and apparel: 2.2 billion euros
                                    <br> The following products are Ireland’s most imported textiles and apparel goods and their import values.
                                    <br> Women’s suits, non knit: 256 million euros
                                    <br> Sweaters, pullovers, sweatshirts, etc: 215 million euros
                                    <br> T-shirts: 175.5 million euros
                                    <br> Men’s suits, non knit: 142 million euros
                                    <br> Women’s suits: 126 million euros</p>
                                <img src="https://static.fashionunited.com/landing-pages/fu/statistics/ie-import-2014-textile.png" class="img-responsive">
                            </div>
                            <div class="mdl-cell mdl-cell--6-col">
                                <h3>
Import of footwear and headwear: 390 million euros</h3>
                                <p>
                                    The following products are Ireland’s most imported footwear and headwear goods and their accompanying import value.
                                    <br> Footwear, with leather body: 152 million euros
                                    <br> Other footwear of rubber or plastics: 92 million euros
                                    <br> Footwear, with textile body: 84 million euros
                                    <br> Other footwear: 17 million euros</p>
                                <img src="https://static.fashionunited.com/landing-pages/fu/statistics/ie-import-2014-footwear.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="eu">
        <h2>General data</h2>
        <div style="margin:0 auto;" class="mdl-grid">
            <div class="mdl-cell mdl-cell--5-col">
                <p>
                    <strong>Population:</strong>
                    &nbsp;506.85 million<br>
                        <strong>Labor force:</strong>&nbsp;247.0 million
                        <br>
                        <strong>Labor force in textiles and clothing:</strong>&nbsp;1.63 million
                        <br>
                        <strong>Unemployment rate:</strong>&nbsp;9.4%
                        <br>
                        <strong>GDP per capita (PPS):</strong>&nbsp;36,486 Dollar</p>
            </div>
            <div class="mdl-cell mdl-cell--7-col">
                <p>
                    <strong>Fashion market share:</strong> 5 percent
                    <br>
                    <strong>Fashion market size:</strong> 372.3 billion Euro
                    <br>
                    <strong>Turnover of the textile and clothing industry:</strong> 165.3 billion Euro
                </p>
                <p> <strong>Annual investment in the textile an clothing industry:</strong>&nbsp;4.3 billion Euro
                    <br />
                    <strong>Annual investment in clothing:</strong>&nbsp;1.4 billion euros
                    <br />
                    <strong>Annual investment in textiles and man-made fibres:</strong>&nbsp;2.9 billion euros</p>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="accordion vertical">
            <ul>
                <li>
                    <input type="checkbox" id="checkbox-eu1" name="checkbox-accordion" />
                    <label for="checkbox-eu1">Employment</label>
                    <div class="content">
                        <p>Currently 1.63 million people are employed in the textile and clothing industry.. Most of these employees, 1 million people, are employed in producing at and managing clothing companies. The remaining 614,000 work on textiles and man-made fibres. </p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-eu2" name="checkbox-accordion" />
                    <label for="checkbox-eu2">Fashion Companies</label>
                    <div class="content">
                        <p>
                            Number of companies in the textile and clothing industry: 172,755
                            <br> Among these companies 119,960 companies can be addressed to as clothing companies, 52,926 are textile companies and the remaining 80 companies work on man-made fibers.
                        </p>
                        <p>
                            The total turnover of these companies is 165.3 billion euros. Nearly half of this turnover is related to textile companies, these contribute 80 billion euros. Another 75.6 billion euros is related to clothing companies and the remaining 9.7 billion euros is related to man-made fibre-making companies.
                        </p>
                        <p>
                            A couple of European countries, such as Italy, France and Spain are well-known for their renowned fashion conglomerates. The following table shows the Top 10 largest fashion companies in Europe.
                        </p>
                        <table class="mdl-data-table mdl-js-data-table">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Company</th>
                                    <th>Market Value</th>
                                    <th>Annual Sales</th>
                                    <th>Country</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Inditex</td>
                                    <td>90 billion Euro</td>
                                    <td>21 billion Euro</td>
                                    <td>Spain</td>
                                    <td>Stock listed company</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>LVMH, Louis Vuitton Moët Hennessy</td>
                                    <td>75 billion Euro</td>
                                    <td>36 billion Euro</td>
                                    <td>France</td>
                                    <td>Stock listed company</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Hennes & Mauritz</td>
                                    <td>42 billion Euro</td>
                                    <td>23 billion Euro</td>
                                    <td>Sweden</td>
                                    <td>Stock listed company</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Hermès</td>
                                    <td>32 billion Euro</td>
                                    <td>5 billion Euro</td>
                                    <td>France</td>
                                    <td>Stock listed company</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Rolex SA</td>
                                    <td>31 billion Euro</td>
                                    <td>5 billion Euro</td>
                                    <td>Switzerland</td>
                                    <td>Private ownership</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Compagnie Financière Richemont</td>
                                    <td>31 billion Euro</td>
                                    <td>10 billion Euro</td>
                                    <td>Switzerland</td>
                                    <td>Stock listed company</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Chanel</td>
                                    <td>29 billion Euro</td>
                                    <td>7,5 billion Euro</td>
                                    <td>France</td>
                                    <td>Private ownership</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Dior</td>
                                    <td>28 billion Euro</td>
                                    <td>2 billion Euro</td>
                                    <td>France</td>
                                    <td>Stock listed company</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Luxottica</td>
                                    <td>23 billion Euro</td>
                                    <td>9 billion Euro</td>
                                    <td>Italy</td>
                                    <td>Stock listed company</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Kering</td>
                                    <td>22 billion Euro</td>
                                    <td>11,5 billion Euro</td>
                                    <td>France</td>
                                    <td>Stock listed company</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            The largest fashion company in Europe is Inditex. This Spanish company owns brands like Zara, Pull&amp;Bear and Stradivarius. Inditex is valued over a 90 billion euros and its 2015 annual revenue was 20.9 billion euros. Inditex has stores is every major city in Europe, which also accounts for the majority of the company’s revenue.
                        </p>
                        <p>
                            Europe’s second largest fashion player is LVMH, Louis Vuitton Moët Hennessy, a French luxury conglomerate. LVMH’s annual revenues reached 35.7 billion euros in 2015 and the company is currently valued around 75 billion euros. The company operates a chain of independent stores and shops-in-shops for fashion brands such as Louis Vuitton, Fendi and Dior. LVMH does not only stand for high-end fashion, but provides for every aspect of a luxury lifestyle, from champagne (Moët) to sailing yachts (Royal Van Lent).
                        </p>
                        <p>
                            Swedish fast-fashion giant H&amp;M is Europe’s third largest fashion company. H&amp;M reached annual net sales of 210 billion Swedish Krona (22.7 billion euros) in 2015, which has set its current market value to 390 billion Swedish Krona (42 billion euros). Currently, Germany is the the company’s biggest market and accounts for 17 percent of H&amp;M’s total sales. Other large European markets are the United Kingdom with 8 percent, France with 6.5 percent and Sweden with 4.5 percent. The United States (12 percent) and China (5 percents) are H&amp;M’s largest international markets.
                        </p>
                        <p>
                            Other large fashion companies in Europe that round off the Top 5 are the french Hermès, with a market value of 32 billion euros and annual revenues of 4.8 billion euros, and the swiss Montres Tudor (Rolex), with a market value of 31 billion euros and estimated annual revenues of 7.3 billion euros. Montres Tudor is the only privately held company in the Top 5 largest fashion companies in Europe.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-eu3" name="checkbox-accordion" />
                    <label for="checkbox-eu3">Consumer expenditure (2014)</label>
                    <div class="content">
                        <img src="https://static.fashionunited.com/landing-pages/fu/statistics/ie-consumer_expenditure_eu.jpg" class="img-responsive">
                        <p>Annual expenditure on clothing: 312 billion Euro
                            <br /> Annual expenditure on footwear: 70 billion Euro
                        </p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-eu4" name="checkbox-accordion" />
                    <label for="checkbox-eu4">Imports and Exports (2014)</label>
                    <div class="content">
                        <div style="margin:0 auto;" class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col">
                                <p><strong>Exports of apparel and textiles: 43 billion Euro<br>
Clothing: 21.9 billion Euro</strong></p>
                                <img src="https://static.fashionunited.com/landing-pages/fu/statistics/ie-clothing-exports-eu.jpg" class="img-responsive">
                                <p>
                                    Menswear export value: 5.05 billion Euro
                                    <br /> Womenswear export value: 8.75 billion Euro
                                    <br /> Babies wear export value: 220 million Euro
                                    <br /> Other clothing and accessories export value: 7.9 billion Euro</p>
                                <p>
                                    The main clothing customers make up for 54.6 percent of the total clothing exports. Switzerland is the largest customer taking 3.3 billion euros in textiles, which is 15.7 percent of the total European textile exports. Russia takes 3.2 billion euros, 15.2 percent, and is therefore the second largest customer. The customers that round up the Top 5 export clients are the United States with 2.3 billion Euro (11 percent), Hong Kong with 1.35 billion Euro (6.5 percent) and Japan with 1.3 billion Euro (6 percent).</p>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col">
                                <p><strong>Textiles: 21.2 billion Euro</strong></p>
                                <img src="https://static.fashionunited.com/landing-pages/fu/statistics/ie-textile-exports-eu.jpg" class="img-responsive">
                                <p>
                                    Natural fibers export value: 850 million Euro
                                    <br /> Man-made fibers export value: 850 million Euro
                                    <br /> Yarns & Threads export value: 1.9 billion Euro
                                    <br /> Woven fabrics export value: 5.95 billion Euro
                                    <br /> Knitted fabrics export value: 1.5 billion Euro
                                    <br /> Technical textiles export value: 5.3 billion Euro
                                    <br /> Other textiles export value: 2.75 billion Euro</p>
                                <p>
                                    The main textile customers make up for 40.5 percent of the total textile exports. The United States is the biggest customer taking 2.35 billion euros in textiles, which is 11 percent of the total European textile exports. China takes 1.8 billion euros, 8.5 percent, and is therefore the second largest customer. The customers that round up the Top 5 export clients are Turkey with 1.7 billion Euro (8 percent), Switzerland with 1.4 billion Euro (7 percent) and Morocco with 1.3 billion Euro (6 percent).
                                </p>
                            </div>
                        </div>
                        <p>&nbsp;</p>
                        <div style="margin:0 auto;" class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col">
                                <p><strong>Exports of apparel and textiles: 43 billion Euro<br>
Clothing: 21.9 billion Euro</strong></p>
                                <img src="https://static.fashionunited.com/landing-pages/fu/statistics/ie-clothing-imports-eu.jpg" class="img-responsive">
                                <p>
                                    Menswear import value: 18.3 billion Euro
                                    <br /> Womenswear import value: 25.6 billion Euro
                                    <br /> Babies Wear import value: 2.2 billion Euro
                                    <br /> Other clothing and accessories import value: 27.0 billion Euro</p>
                                <p>
                                    The European Union imports most of its clothing from 5 suppliers, with China being the largest. A near 40 percent of the European imports come from China. Bangladesh supplies 14.5 percent of the European clothing imports. Another 13 percent of the supplies come from Turkey and respectively 6 and 3 percent come from India and Morocco.
                                </p>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col">
                                <p><strong>Textiles: 26.4 billion Euro</strong></p>
                                <img src="https://static.fashionunited.com/landing-pages/fu/statistics/ie-textile-imports-eu.jpg" class="img-responsive">
                                <p>
                                    Natural fibers import value: 1.6 billion Euro
                                    <br /> Man-made fibers import value: 1.3 billion Euro
                                    <br /> Yarns & Threads import value: 3.7 billion Euro
                                    <br /> Woven fabrics import value: 5.3 billion Euro
                                    <br /> Knitted fabrics import value: 1.3 billion Euro
                                    <br /> Technical textiles import value: 5.55 billion Euro
                                    <br /> Other textiles import value: 1.05 billion Euro</p>
                                <p>
                                    The European Union imports most of its textiles from 5 suppliers, with China being the largest. About 31.5 percent of the European imports come from China. Turkey supplies 17 percent of the European textile imports. Another 9 percent of the supplies come from Turkey and respectively 8 and 4 percent come from Pakistan and the United States.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>
<div class="center" id="statistics-footer">
    <p>
        These statistic pages are a product of FashionUnited Business Intelligence. For more fashion data, company information and statistics, please refer to the <u><a href="http://fashionunited.com/i">FashionUnited BI homepage</a></u>.
    </p>
    <p>
        Sources: Eurostat, CIA, ILO, WTO, IBISWorld, OECD, Comtrade (UN), Euratex, CSO
    </p>
    <p>Copyright 2016 by FashionUnited. You must obtain written permission to use any FashionUnited content.</p>
</div>
