<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" style="max-width: 970px; margin:0 auto;">

<h2>General data</h2>
<p>
    <strong>Population:</strong> &nbsp;200.4 million<br>
        <strong>Labor force:</strong>&nbsp;109.8 million<br>
        <strong>Unemployment rate:</strong>&nbsp;9%<br>
        <strong>GDP per capita (PPS):</strong>&nbsp;11,208 dollars
</p>
<p>
    <strong>Domestic market value of the fashion industry: </strong> 49 billion dollars<br>
    <strong>Total labor force in fashion:</strong> 33,000<br>
    <strong>Number of people employed in fashion:</strong> 1.7 million</p>

<p>&nbsp;</p>

<div class="accordion vertical">
    <ul>
        <li>
            <input type="checkbox" id="checkbox-hk1" name="checkbox-accordion" />
            <label for="checkbox-hk1">Fashion Companies</label>
            <div class="content">

         <p>
                    <strong>Number of fashion companies: </strong> 33,000              <br>
                    <strong>Total annual production:</strong> 11 000</p>


<p>Havaianas, part of the Alpargatas group and manufacturer of flip flops is not only the most popular and best-known fashion brand from Brazil. It also ranks second among the Top 5 Largest Brazilian Fashion Companies.</p>
       <p>The following table shows the largest companies in fashion from Brazil.</p>

        <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Company name</th>
                                <th>Market value</th>
                                <th>Annual revenue</th>
                                <th>Company type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Grendene S.A.</td>
                                <td>1.5 billion dollars</td>
                                <td>638 million dollars</td>
                                <td>Public</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Alpargatas S.A.</td>
                                <td>1.3 billion dollars</td>
                                <td>1.1 billion dollars</td>
                                <td>Public</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Guararapes Confeccoes S.A.</td>
                                <td>988 million dollars</td>
                                <td>1.58 billion dollars</td>
                                <td>Public</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Lojas Renner S.A.</td>
                                <td>743 million dollars</td>
                                <td>954 million dollars</td>
                                <td>Public</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Cia Hering S.A.</td>
                                <td>694 million dollars</td>
                                <td>480 million dollars</td>
                                <td>Public</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </li>
        <li>
            <input type="checkbox" id="checkbox-hk2" name="checkbox-accordion" />
            <label for="checkbox-hk2">Consumer expenditure</label>
            <div class="content">
<img src="https://static.fashionunited.com/landing-pages/fu/statistics/br_consumer_expenditure.jpg" class="img-responsive">

            <p>Annual expenditure on clothing and footwear: 48.6 billion dollars</p>
            </div>
        </li>


        <li>
            <input type="checkbox" id="checkbox-hk3" name="checkbox-accordion" />
            <label for="checkbox-hk3">Imports &amp; Exports (2014)</label>
            <div class="content">
            <div style="margin:0 auto;" class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <p><strong>Total exports of textile, apparel and footwear: 3.5 billion dollars</strong></p>
<p><strong>
Exports of clothing and textiles: 2.3 billion dollars</strong></p>

                        <img src="https://static.fashionunited.com/landing-pages/fu/statistics/br_exp_clothing.png" class="img-responsive">

<p> Raw cotton: 1.1 billion dollars<br>
Nonwoven textiles: 173 million dollars<Br>
Synthetic filament yarn: 66 million dollars<Br>
Artificial filament tow: 50 million dollars </p>

                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <p><strong>Exports of footwear and headwear: 1.25 billion dollars</strong></p>
<img src="https://static.fashionunited.com/landing-pages/fu/statistics/br_exp_footw-headw.png" class="img-responsive">

                        <p>Footwear, with leather body: 503 million dollars<br>
Other footwear of rubber or plastics: 494 million dollars<br>
Parts of Footwear: 158 million dollars<br>
Footwear, with textile body: 67 million dollars
                        </p>

                    </div>
                </div>
                <p>&nbsp;</p>
               <div style="margin:0 auto;" class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <p><strong>Total imports of textiles, apparel and footwear: 7.8 billion dollars</strong></p>
                        <p>In Brazil, imports valued up to 3,000 dollars have a tax mark-up of 60 percent. Therefore apparel and footwear are not among the country's highests imports.</p>
<p><strong>Imports of clothing: 6.7 billion dollars</strong></p>

                        <img src="https://static.fashionunited.com/landing-pages/fu/statistics/br_imp_clothing.png" class="img-responsive">
                        <p>Synthetic filament yarn: 775 million dollars<br>
Woven fabrics of synthetic filament yarn: 570 million dollars<Br>
Women’s suit not knit: 317 million dollars<Br>
Women’s shirt not knit: 243 million dollars<br>
T-shirts: 181 million dollars<br>
Sweaters, pullovers, sweatshirts, etc: 158 million dollars</p>

                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <p><strong>Imports of footwear and headwear: 1.1 billion dollars</strong></p>

       <img src="https://static.fashionunited.com/landing-pages/fu/statistics/br_imp_footw-headw.png" class="img-responsive">
                        <p>Footwear, with textile body: 339 million dollars<br>
Other footwear of rubber or plastics: 93 million dollars<br>
Footwear, with leather body: 90 million dollars<br>
Parts of footwear; 68 million dollars
                        </p>

                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>










<p>
    &nbsp;</p>
<p>
    &nbsp;</p>

</div>
<div class="center" id="statistics-footer">
    <p>These statistic pages are a product of FashionUnited Business Intelligence. For more fashion data, company information and statistics, please refer to the <u><a href="http://fashionunited.com/i">FashionUnited BI homepage</a></u>.
    </p>

    <p>Copyright 2016 by FashionUnited. You must obtain written permission to use any FashionUnited content.</p>
</div>
