<section class="section--center mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.retail_management_and_in_store }}
    <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).prefix }}{{( index $.Site.Data.translations $.Site.Params.locale ).categories.retail_management_and_in_store.url }}" title="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.retail_management_and_in_store.title }}">
      <section class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-card_supporting-text mdl-cell mdl-cell--12-col fu-main-body__card-white fu-ripple-effect fu-border-line-gradient_1">
          <header>
            <h2>
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.retail_management_and_in_store.title }}
            </h2>
            <p class="fu-truncate-lines">
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.retail_management_and_in_store.p_tag }}
            </p>
          </header>
        </div>
      </section>
    </a>
    {{ end }}
    {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.sales_and_marketing }}
    <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).prefix }}{{( index $.Site.Data.translations $.Site.Params.locale ).categories.sales_and_marketing.url }}" title="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.sales_and_marketing.title }}">
      <section class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-card_supporting-text mdl-cell mdl-cell--12-col fu-main-body__card-white fu-ripple-effect fu-border-line-gradient_2">
          <header>
            <h2>
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.sales_and_marketing.title }}
            </h2>
            <p class="fu-truncate-lines">
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.sales_and_marketing.p_tag }}
            </p>
          </header>
        </div>
      </section>
    </a>
    {{ end }}
    {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.design_and_creative }}
    <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).prefix }}{{( index $.Site.Data.translations $.Site.Params.locale ).categories.design_and_creative.url }}" title="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.design_and_creative.title }}">
      <section class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-card_supporting-text mdl-cell mdl-cell--12-col fu-main-body__card-white fu-ripple-effect fu-border-line-gradient_3">
          <header>
            <h2>
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.design_and_creative.title }}
            </h2>
            <p class="fu-truncate-lines">
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.design_and_creative.p_tag }}
            </p>
          </header>
        </div>
      </section>
    </a>
    {{ end }}
    {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.product_and_supply_chain }}
    <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).prefix }}{{( index $.Site.Data.translations $.Site.Params.locale ).categories.product_and_supply_chain.url }}" title="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.product_and_supply_chain.title }}">
      <section class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-card_supporting-text mdl-cell mdl-cell--12-col fu-main-body__card-white fu-ripple-effect fu-border-line-gradient_4">
          <header>
            <h2>
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.product_and_supply_chain.title }}
            </h2>
            <p class="fu-truncate-lines">
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.product_and_supply_chain.p_tag }}
            </p>
          </header>
        </div>
      </section>
    </a>
    {{ end }}
    {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.other }}
    <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).prefix }}{{( index $.Site.Data.translations $.Site.Params.locale ).categories.other.url }}" title="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.other.title }}">
      <section class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-card_supporting-text mdl-cell mdl-cell--12-col fu-main-body__card-white fu-ripple-effect fu-border-line-gradient_5">
          <header>
            <h2>
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.other.title }}
            </h2>
            <p class="fu-truncate-lines">
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.other.p_tag }}
            </p>
          </header>
        </div>
      </section>
    </a>
    {{ end }}
    {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.internships }}
    <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).prefix }}{{( index $.Site.Data.translations $.Site.Params.locale ).categories.internships.url }}" title="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.internships.title }}">
      <section class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-card_supporting-text mdl-cell mdl-cell--12-col fu-main-body__card-white fu-ripple-effect fu-border-line-gradient_6">
          <header>
            <h2>
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.internships.title }}
            </h2>
            <p class="fu-truncate-lines">
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.internships.p_tag }}
            </p>
          </header>
        </div>
      </section>
    </a>
    {{ end }}
    {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.all_jobs }}
    <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).prefix }}" title="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.all_jobs.p_title }}">
        <section class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-card_supporting-text mdl-cell mdl-cell--12-col fu-main-body__card-white fu-ripple-effect fu-border-line-gradient_1">
            <header>
              <h2>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.all_jobs.p_title }}
              </h2>
              <p class="fu-truncate-lines">
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.all_jobs.p_tag }}
              </p>
            </header>
          </div>
        </section>
      </a>
    {{ end }}
    {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.international_fashion_jobs }}
    <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.international_fashion_jobs.url }}" title="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.international_fashion_jobs.title }}">
      <section class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-card_supporting-text mdl-cell mdl-cell--12-col fu-main-body__card-white fu-ripple-effect fu-border-line-gradient_7">
          <header>
            <h2>
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.international_fashion_jobs.title }}
            </h2>
            <p class="fu-truncate-lines">
              {{( index $.Site.Data.translations $.Site.Params.locale ).categories.international_fashion_jobs.p_tag }}
            </p>
          </header>
        </div>
      </section>
    </a>
    {{ end }}
    {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.careers_in_fashion }}
    <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.careers_in_fashion.url }}" title="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.careers_in_fashion.title }}">
        <section class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-card_supporting-text mdl-cell mdl-cell--12-col fu-main-body__card-white fu-ripple-effect fu-border-line-gradient_3">
            <header>
              <h2>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.careers_in_fashion.title }}
              </h2>
              <p class="fu-truncate-lines">
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.careers_in_fashion.p_tag }}
              </p>
            </header>
          </div>
        </section>
      </a>
    {{ end }}
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet fu-main-body__column-grey">
    <section class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--12-col fu-body__Button">
        <a href='{{ if eq .Site.Params.locale "de-DE" }} {{( index $.Site.Data.translations $.Site.Params.locale ).categories.all_categories.url }} {{ else }} {{( index $.Site.Data.translations $.Site.Params.locale ).prefix }} {{ end }}'>
          <button class="mdl-button mdl-js-button fu-body__button--background-blue mdl-js-ripple-effect">
            <span>{{( index $.Site.Data.translations $.Site.Params.locale ).categories.all_categories.title }}</span>
          </button>
        </a>
      </div>
    </section>
    <div class="fu-main-body__container">
      {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.discover_employer }}
      <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.discover_employer.url }}">
        <section class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--12-col fu-main-body__card-grey">
            <header>
              <h4>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.discover_employer.title }}
              </h4>
              <p>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.discover_employer.p_tag }}
              </p>
            </header>
          </div>
        </section>
      </a>
      {{ end }}
      {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.post_job }}
      <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.post_job.url }}">
        <section class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--12-col fu-main-body__card-grey">
            <header>
              <h4>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.post_job.title }}
              </h4>
              <p>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.post_job.p_tag }}
              </p>
            </header>
          </div>
        </section>
      </a>
      {{ end }}
      {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.newsletter }}
      <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.newsletter.url }}
      " target="_blank" rel="noopener">
        <section class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--12-col fu-main-body__card-grey">
            <header>
              <h4>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.newsletter.title }}
              </h4>
              <p>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.newsletter.p_tag }}
              </p>
            </header>
          </div>
        </section>
      </a>
      {{ end }}
      {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.careers_fashion }}
      <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.careers_fashion.url }}">
        <section class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--12-col fu-main-body__card-grey">
            <header>
              <h4>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.careers_fashion.title }}
              </h4>
              <p>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.careers_fashion.p_tag }}
              </p>
            </header>
          </div>
        </section>
      </a>
      {{ end }}
      {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.job_profile }}
      <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.job_profile.url }}">
        <section class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--12-col fu-main-body__card-grey">
            <header>
              <h4>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.job_profile.title }}
              </h4>
              <p>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.job_profile.p_tag }}
              </p>
            </header>
          </div>
        </section>
      </a>
      {{ end }}
      {{ if ( index $.Site.Data.translations $.Site.Params.locale ).categories.education }}
      <a href="{{( index $.Site.Data.translations $.Site.Params.locale ).categories.education.url }}
        " target="_blank" rel="noopener">
        <section class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--12-col fu-main-body__card-grey">
            <header>
              <h4>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.education.title }}
              </h4>
              <p>
                {{( index $.Site.Data.translations $.Site.Params.locale ).categories.education.p_tag }}
              </p>
            </header>
          </div>
        </section>
      </a>
      {{ end }}
    </div>
  </div>
  {{ partial "ads-side" . }}
</section>
