<div class="fu-grid-section fu-main-section">
  <div class="mdl-grid">
    <h2 class="fu-main-section-title mdl-cell mdl-cell--12-col">
      {{$.Site.Params.visualLanding.labelCategories}}
    </h2>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--8-col-tablet fu-card-narrow">
      <a href="{{$.Site.Params.visualLanding.linkToCategorieRetail}}">
        <h3>
          <span>
            {{$.Site.Params.visualLanding.labelCategorie1}}
          </span>
        </h3>

        <div>
          <div class="fu-categories-background-image">
            <img src="/global-assets/fu20164/dist/landing/images/visual-landing/retail.png">
          </div>
        </div>
      </a>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--8-col-tablet fu-card-narrow">
      <a href="{{$.Site.Params.visualLanding.linkToCategorieSales}}">
        <h3 class="">
          <span>
            {{$.Site.Params.visualLanding.labelCategorie2}}
          </span>
        </h3>
        <div>
          <div class="fu-categories-background-image">
            <img src="/global-assets/fu20164/dist/landing/images/visual-landing/sales_marketing.png">
          </div>
        </div>
      </a>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--8-col-tablet fu-card-narrow">
      <a href="{{$.Site.Params.visualLanding.linkToCategorieDesign}}">
        <h3 class="">
          <span>
            {{$.Site.Params.visualLanding.labelCategorie3}}
          </span>
        </h3>
        <div>
          <div class="fu-categories-background-image">
            <img src="/global-assets/fu20164/dist/landing/images/visual-landing/design_creative.png">
          </div>
        </div>
      </a>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--8-col-tablet fu-card-narrow">
      <a href="{{$.Site.Params.visualLanding.linkToCategorieProduct}}">
        <h3 class="">
          <span>
            {{$.Site.Params.visualLanding.labelCategorie4}}
          </span>
        </h3>
        <div>
          <div class="fu-categories-background-image">
            <img src="/global-assets/fu20164/dist/landing/images/visual-landing/product_supplychain.png">
          </div>
        </div>
      </a>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--8-col-tablet fu-card-narrow">
      <a href="{{$.Site.Params.visualLanding.linkToCategorieOther}}">
        <h3 class="">
          <span>
            {{$.Site.Params.visualLanding.labelCategorie5}}
          </span>
        </h3>
        <div>
          <div class="fu-categories-background-image">
            <img src="/global-assets/fu20164/dist/landing/images/visual-landing/other_jobs.png">
          </div>
        </div>
      </a>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--8-col-tablet fu-card-narrow">
      <a href="{{$.Site.Params.visualLanding.linkToCategorieInternships}}">
        <h3 class="">
          <span>
            {{$.Site.Params.visualLanding.labelCategorie6}}
          </span>
        </h3>
        <div>
          <div class="fu-categories-background-image">
            <img src="/global-assets/fu20164/dist/landing/images/visual-landing/internships_traineeships.png">
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="fu-main-section--button-container mdl-grid">
    <a href="{{$.Site.Params.visualLanding.linkToPostJob}}" class="fu-main-section--button mdl-cell mdl-cell--5-col-desktop mdl-cell--8-col-tablet">
      {{$.Site.Params.visualLanding.buttonPostJob}}
    </a>
    <a href="{{$.Site.Params.visualLanding.linkToFashionCareers}}" class="fu-main-section--button mdl-cell mdl-cell--5-col-desktop mdl-cell--8-col-tablet">
      {{$.Site.Params.visualLanding.buttonFashionCareers}}
    </a>
  </div>
</div>





