<div class="fu-header-background-image">
	<div class="fu-header-container">
		<h1 class="fu-header---title">
			{{$.Site.Params.visualLanding.headerTitle}}
		</h1>
		<div class="mdl-grid fu-visual-landing-search-container">
			<div class="mdl-cell mdl-cell--8-col mdl-cell--5-col-tablet mdl-cell--4-col-phone ">
				<select class="select-category-js fu-visual-landing-select" name="visual-landing-categories" id="visual-landing-categories">
					<option class="select-category-option-js" value="{{$.Site.Params.visualLanding.linkToCategorieAll}}" selected>{{$.Site.Params.visualLanding.AllCategories}}</option>
					<option class="select-category-option-js" value="{{$.Site.Params.visualLanding.linkToCategorieRetail}}">{{$.Site.Params.visualLanding.labelCategorie1}}</option>
					<option class="select-category-option-js" value="{{$.Site.Params.visualLanding.linkToCategorieSales}}">{{$.Site.Params.visualLanding.labelCategorie2}}</option>
					<option class="select-category-option-js" value="{{$.Site.Params.visualLanding.linkToCategorieDesign}}">{{$.Site.Params.visualLanding.labelCategorie3}}</option>
					<option class="select-category-option-js" value="{{$.Site.Params.visualLanding.linkToCategorieProduct}}">{{$.Site.Params.visualLanding.labelCategorie4}}</option>
					<option class="select-category-option-js" value="{{$.Site.Params.visualLanding.linkToCategorieOther}}">{{$.Site.Params.visualLanding.labelCategorie5}}</option>
					<option class="select-category-option-js" value="{{$.Site.Params.visualLanding.linkToCategorieInternships}}">{{$.Site.Params.visualLanding.labelCategorie6}}</option>
				</select>
			</div>
			<div class="fu-search-button-container mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--4-col-phone">
				<a href="{{$.Site.Params.visualLanding.linkToCategorieAll}}" class="fu-search-box--button add-category-link-js" id="fu-visual-landing-button">
					{{$.Site.Params.visualLanding.searchForJobs}}
				</a>
			</div>
		</div>
	</div>
</div>
