<section class="fu-wfb mdl-grid mdl-grid--no-spacing mdl-color--white">
  <div class="mdl-cell mdl-cell--12-col">
    <header class="fu-wfb--header mdl-grid mdl-grid--no-spacing mdl-typography--text-center ">
      <div class="fu-wfb--title mdl-cell mdl-cell--12-col">
        <h3 itemprop="name" class="mdl-typography--text-center">
          {{ if .Site.Params.showWFB }}
            {{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.wfbTitle }}
            {{ if .Site.Params.WFBSubTitleStyle }}
              <style type="text/css">
                .mdl-typography--text-center {
                  font-size: {{ .Site.Params.WFBSubTitleStyle }};
                }
              </style>
            {{ end }}
          {{ end }}
        </h3>
      </div>
    </header>
  </div>
</section>
{{ if .Site.Params.showWFB}}
  <section class="mdl-grid mdl-grid--no-spacing mdl-color--white fu-banner-ad-list">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="fu-wfb-wrapper mdl-grid mdl-grid--no-spacing">
        {{ if or (eq .Site.Params.locale "en-IE") (eq .Site.Params.locale "en-HU") (eq .Site.Params.locale "zh-HK") (eq .Site.Params.locale "pt-BR") (eq .Site.Params.locale "de-AT") (eq .Site.Params.locale "fr-LU") (eq .Site.Params.locale "sv-SE") (eq .Site.Params.locale "cs-CZ") (eq .Site.Params.locale "da-DK") (eq .Site.Params.locale "fi-FI") (eq .Site.Params.locale "en-JP") (eq .Site.Params.locale "nb-NO") (eq .Site.Params.locale "pt-PT") (eq .Site.Params.locale "pl-PL") (eq .Site.Params.locale "tr-TR") (eq .Site.Params.locale "en-IN") }}
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="fu-logo-container">
            <div class="company_logo_1 fu-company_logo-style"></div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="fu-logo-container">
            <div class="company_logo_2 fu-company_logo-style"></div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="fu-logo-container">
            <div class="company_logo_3 fu-company_logo-style"></div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="fu-logo-container">
            <div class="company_logo_4 fu-company_logo-style"></div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="fu-logo-container">
            <div class="company_logo_5 fu-company_logo-style"></div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="fu-logo-container">
            <div class="company_logo_6 fu-company_logo-style"></div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="fu-logo-container">
            <div class="company_logo_7 fu-company_logo-style"></div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="fu-logo-container">
            <div class="company_logo_8 fu-company_logo-style"></div>
            </div>
          </div>
        {{ else }}
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb01" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb02" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb03" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb04" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb05" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb06" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb07" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb08" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb09" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb10" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb11" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb12" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb13" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb14" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb15" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb16" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb17" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb18" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb19" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb20" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb21" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb22" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb23" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
          <div class="mdl-cell mdl-cell--2-col fu-ad-container">
            <div class="adunit fu-banner-wfb" data-adunit="{{ .Site.Params.wfbCode}}_wfb24" data-dimensions="{{ ( index $.Site.Data.translations $.Site.Params.locale ).wfb.data_dimensions }}"></div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
