{{ if .Site.Params.showTopfooter  }}
<div class="fu-footer-landing-page">
  <div class="content-grid mdl-grid">
    <section class="section--center mdl-grid mdl-grid--no-spacing fu-footer-landing-page__section">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet fu-footer-landing-page__section-card-grey">
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).footer.main.content | safeHTML }}
     </div>
   </section>
 </div>
</div>
{{ else if eq .Site.Params.locale "en-COM" }}
<div class="fu-footer-landing-page">
  <div class="content-grid mdl-grid">
    <section class="section--center mdl-grid mdl-grid--no-spacing fu-footer-landing-page__section">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet fu-footer-landing-page__section-website-list">
        <!-- add content here -->
        <header>
          <h6>FashionUnited Fashion Job Content</h6>
          <p>
            The fashion jobs contained in FashionUnited’s search results, or linked from those results, may have been created by people over whom FashionUnited exercises no control. FashionUnited’s job search results are indexed in an automated manner and FashionUnited does not screen the fashion jobs. FashionUnited assumes no responsibility for the content of any fashion job listing or website that is either included in FashionUnited’s search results or linked to by the FashionUnited websites.
          </p>
        </header>
        <div class="content-grid mdl-grid fu-footer-landing-page__section-website-list--links">
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet fu-footer-landing-page__section-website-list--links-list">
            <!-- add content here -->
            <ul>
              <li>
                <a href="/fashion-jobs-new-york">Fashion jobs in New York</a>
              </li>
              <li>
                <a href="/fashion-jobs-miami">Fashion jobs in Miami</a>
              </li>
              <li>
                <a href="/fashion-jobs-los-angeles">Fashion jobs in Los Angeles</a>
              </li>
              <li>
                <a href="/fashion-jobs-san-francisco">Fashion jobs in San Francisco</a>
              </li>
              <li>
                <a href="/fashion-jobs-new-jersey">Fashion jobs in New Jersey</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/dsw">Jobs at DSW</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/beeline">Jobs at beeline Group (Fashion Accessories)</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/francesca-s">Jobs at francesca's</a>
              </li>
              <li>
                <a href="/fashion-jobs/work-at/smcp-jobs">Jobs at SMCP USA</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/fossil-group">Jobs at Fossil Group</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/kohls">Jobs at Kohl´s</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/tiffany-co">Jobs at Tiffany &amp; Co</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/lands-end">Jobs at Lands' End</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/bcbg-max-azria">Jobs at BCBG Max Azria</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/tous">Jobs at TOUS</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/skechers">Jobs at Skechers</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/fossil-group">Jobs at Fossil Group</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/kit-and-ace">Jobs at Kit and Ace</a>
              </li>
            </ul>
          </div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet fu-footer-landing-page__section-website-list--links-list">
            <!-- also here -->
            <ul>
              <li>
                <a href="/fashion-jobs/company/superdry">Jobs at Superdry</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/nasty-gal">Jobs at Nasty Gal</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/agent-provocateur">Jobs at Agent Provocateur</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/the-kooples">Jobs at The Kooples</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/michael-kors">Jobs at Michael Kors</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/massimo-dutti">Jobs at Massimo Dutti USA Inc</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/and-other-stories">Jobs at &amp; Other Stories </a>
              </li>
              <li>
                <a href="/allsaints-jobs">Jobs at AllSaints</a>
              </li>
              <li>
                <a href="https://www.fashionunited.com/fashion-job/design-creative/499-fashion-design-lecturer">Jobs at Raffles Education Corporation</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/eddie-bauer">Jobs at Eddie Bauer USA</a>
              </li>
              <li>
                <a href="https://fashionunited.de/adidas-jobs">Jobs at adidas AG</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/camper">Jobs at CAMPER</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/kaufmanfranco">Jobs at KAUFMANFRANCO</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/zara">Jobs at Zara USA Inc</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/cos">Jobs at COS Stores</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/aldo">Jobs at ALDO</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/lacoste">Jobs at Lacoste (Pentland Brands)</a>
              </li>
              <li>
                <a href="/fashion-jobs/company/urban-outfitters">Jobs at Urban Outfitters</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet fu-footer-landing-page__section-card-grey">
        <div>
          <!-- also here -->
          <header>
            <h2>Fashion Jobs and Fashion News in the USA</h2>
            <p>
              Fashion jobs, Fashion news and all other possible information about the fashion world fashion professionals need. Fashion jobs in the United States of America, New York, Los Angeles, Miami and a Fashion News archive and links to international fashion jobs.
            </p>
          </header>
          <header>
            <h2>Fashion jobs categories</h2>
            <p>
              The fashion career center is the best place to look for a job in fashion. Fashion jobs listed at FashionUnited include, retail management jobs, in store jobs, sales jobs, marketing jobs, design jobs, creative jobs, product and supply chain jobs, internships, traineeships, and international jobs in fashion.
            </p>
          </header>
          <header>
            <h3>Fashion news sections</h3>
            <p>
              FashionUnited offers a complete and comprehensive overview for the fashion industry covering all the fashion news, fashion headlines, fashion daily news, trends, fashion weeks, catwalks, fashion industry statistics, fashion education news, and executive news in Fashion.
            </p>
          </header>
          <header>
            <h3>Career in fashion</h3>
            <p>
              Looking for a job in fashion? FashionUnited is the leading destination for people working in fashion. Find jobs, internships, international fashion jobs, career tips, or post your fashion job on the job network.
            </p>
          </header>
          <header>
            <h3>Fashion World information</h3>
            <p>
              Looking for information about the fashion world? FashionUnited provides detailed information about the apparel industry world wide. 80 per cent of the biggest companies in fashion use the services focused on fashion professionals only.</p>
            </header>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{{ end }}
